.content{
    margin-left: 8em;
    margin-right: 8em;
}

.about{
    padding-bottom: .25em;
    padding-top: 2.5em;
}

.personal, .organisations, .hobbies{
    font-size: 1.15em;
    padding-bottom: 1em;
}

.hobbies{
    padding-bottom: 2.7em;
}

.google, .ecocar{
    background-color: turquoise;
}

.frat{
    background-color: rgb(246, 23, 11);
    color: gold;
}

.skillheader{
    padding-bottom: .25em;
    text-align: center;
}
.table{
    font-size: 1.25em;
    width: 100%;
    text-align: center;
}

.data{
    padding-top: .5em;
    padding-bottom: .5em;
}

.projectheader{
    padding-top: 2em;
}






