.title {
    font-size: 2.35em;
    font-weight: bold;
    color: rgb(22, 4, 22);
}

.person{
    font-size: 5em;
}

.subtitle {
    font-size: 1.35em;
    padding-bottom: .5em;
}

.intro {
    margin-top: 2.3em;
    margin-left: 8em;
}

.linkedin{
    height: 38px;
}

.github, .resume, .mail{
    height: 38px;
    padding-left: 10px;
}

  